/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background: #f4f4f4;
}

/* Header */
header {
    background: #333;
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 20px;
}

.container-2 {
    margin: 5px;
   
}

header h1 {
    font-size: 2rem;
    animation: fadeInUp 1s ease-out;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-left: 20px;
    color: black;
}


nav a:hover {
    color: #ff6347;
    transform: scale(1.1);
}

/* Secciones */
section {
    padding: 60px 0;
}

.container {
    width: 1300px;
    margin: auto;

}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

/* Estilos de proyectos */
.proyectos-grid {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
}

.proyecto {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    animation: fadeInUp 1s ease-out;
}

.proyecto:hover {
    transform: translateY(-5px);
}

/* Contacto */
ul {
    list-style: none;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.container ul li a {
    color: black;
    text-decoration: none;
    transition: color 0.3s;
}

ul li a:hover {
    color: #ff6347;
}

/* Footer */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    animation: fadeIn 5s ease-out;
}

footer .container {
    width: 80%;
    margin: auto;
}

@media (max-width:560px){

.proyectos-grid {
    flex-wrap: wrap;
   }

.container {
    width: 100%;
    margin: auto;

}

}

/* Animacion */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
